

body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', 'Times New Roman', serif;
  color: #2c2c2c;
}

h1, h2 {
  letter-spacing: 1px;
}

p {
  line-height: 1.8;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}



.home-page {
  background: linear-gradient(
    to bottom,
    #f6f1eb,   /* ivory */
    #e9d8c3,   /* beige */
    #cfd9df,   /* Paris sky */
    #fdfcfb
  );
}


.eiffel-page {
  background: linear-gradient(
    135deg,
    #eef2f6,   /* light cool gray */
    #e3eaf1,   /* travel blue tint */
    #d7e1eb,   /* depth */
    #f8fafc    /* clean
  );
}



.louvre-page {
  background: linear-gradient(
    135deg,
    #fdf6ee,   /* champagne white */
    #f6e8d8,   /* warm beige */
    #eed9c4,   /* Paris stone */
    #fffaf4    /* soft finish */
  );
}
